.margem-baixo-5 {margin-bottom: 5px !important;}
.margem-baixo-10{margin-bottom: 10px !important;}
.margem-baixo-15{margin-bottom: 15px !important;}
.margem-baixo-20{margin-bottom: 20px !important;}
.margem-baixo-30{margin-bottom: 30px !important;}
.margem-baixo-40{margin-bottom: 40px !important;}
.margem-baixo-50{margin-bottom: 50px !important;}
.margem-baixo-60{margin-bottom: 60px !important;}

.margem-cima-5 {margin-top: 5px !important;}
.margem-cima-10{margin-top: 10px !important;}
.margem-cima-15{margin-top: 15px !important;}
.margem-cima-20{margin-top: 20px !important;}
.margem-cima-30{margin-top: 30px !important;}
.margem-cima-40{margin-top: 40px !important;}
.margem-cima-50{margin-top: 50px !important;}
.margem-cima-60{margin-top: 60px !important;}

.margem-esquerda-5 {margin-left: 5px}
.margem-esquerda-10 {margin-left: 10px}
.margem-esquerda-15 {margin-left: 15px}
.margem-esquerda-20 {margin-left: 20px}
.margem-esquerda-30 {margin-left: 30px}
.margem-esquerda-40 {margin-left: 40px}
.margem-esquerda-50 {margin-left: 50px}
.margem-esquerda-60 {margin-left: 60px}
.margem-esquerda-70 {margin-left: 70px}
.margem-esquerda-80 {margin-left: 80px}
.margem-esquerda-100{margin-left: 100px}
.margem-esquerda-200{margin-left: 200px}
.margem-esquerda-250{margin-left: 250px}
.margem-esquerda-300{margin-left: 300px}
.margem-esquerda-350{margin-left: 350px}
.margem-esquerda-400{margin-left: 400px}
.margem-esquerda-450{margin-left: 450px}

.margem-direita-5  {margin-right: 5px}
.margem-direita-10 {margin-right: 10px}
.margem-direita-15 {margin-right: 15px}
.margem-direita-20 {margin-right: 20px}
.margem-direita-50 {margin-right: 50px}
.margem-direita-100{margin-right: 100px}
.margem-direita-200{margin-right: 200px}

.padding-baixo-10{padding-bottom: 10px !important;}

.input-largura-30{width: 30px}
.input-largura-40{width: 40px}
.input-largura-50{width: 50px}
.input-largura-80{width: 80px}
.input-largura-100{width: 100px}
.input-largura-130{width: 130px}
.input-largura-150{width: 150px}
.input-largura-180{width: 180px}
.input-largura-200{width: 200px}
.input-largura-250{width: 250px}
.input-largura-300{width: 300px}
.input-largura-320{width: 320px}
.input-largura-330{width: 330px}
.input-largura-350{width: 350px}
.input-largura-400{width: 400px}
.input-largura-500{width: 500px}


.input-altura-30 {height: 30px}
.input-altura-40 {height: 40px}
.input-altura-50 {height: 50px}
.input-altura-80 {height: 80px}
.input-altura-100{height: 100px}
.input-altura-130{height: 130px}
.input-altura-150{height: 150px}
.input-altura-180{height: 180px}
.input-altura-200{height: 200px}
.input-altura-250{height: 250px}
.input-altura-300{height: 300px}
.input-altura-320{height: 320px}
.input-altura-330{height: 330px}
.input-altura-350{height: 350px}
.input-altura-400{height: 400px}
.input-altura-500{height: 500px}


.texto-vermelho{
    color: red;
}

.texto-input-centro{
    text-align: center;
}

.fundo-amarelo{
    background-color: #F4FA58;
}

.fundo-azul{
    background-color: dodgerblue;
}

.fundo-cinza{
    background-color: lightgray;
}

.botao-borda-arredondada{
    border-radius: 8px;
}

.borda-arredondada{
    border-radius: 5px;
}

.borda-preta{
    border-color: gray;
    border-style: ridge;
}

.inline{display: inline}
.hide{display:none}

.right{float: right}
.left{float: left}


.texto-vermelho{
    color: red;
}


.inline{display: inline}
.hide{display:none}

form{
	padding:5px;
	margin:5px
}


table thead{
	text-transform:uppercase;
}
